* {
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    margin: 0;
    font-family: "Times New Roman", serif;
    line-height: 2;
    display: flex;
    justify-content: flex-center;
    flex-direction: column; 
    color: black;
    background-color: #E9D39F; 
    padding: 16px 0;
}
header {
    text-align: flex-start; 
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #E9D39F;
    color: black; 
}
nav {
    background-image: url(Penguins.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px; 
    padding: 16px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    
}
.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.button-section {
    padding: 32px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.button-section {
    font-size: 16px;
    margin-bottom: 24px;
}
button {
    font-family: "Times New Roman", serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

.button-01 {
    margin-top: 8px; 
    margin-bottom: 8px; 
    background-color: #0066CC;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid black; 
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button-01:hover {
    background-color: #ffffff;
    color: #0066CC;
    border-color: #0066CC;
}
.button-02 {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #0066CC;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid black;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.button-02:hover {
    background-color: #ffffff;
    color: #0066CC;
    border-color: #0066CC;
}
.button-03 {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #0066CC;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid black;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.button-03:hover {
    background-color: #ffffff;
    color: #0066CC;
    border-color: #0066CC;
}
.button-04 {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #0066CC;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid black;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.button-04:hover {
    background-color: #ffffff;
    color: #0066CC;
    border-color: #0066CC;
}
.button-05 {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #0066CC;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid black;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.button-05:hover {
    background-color: #ffffff;
    color: #0066CC;
    border-color: #0066CC;
}

h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
    border: 1px solid black; 
    background-color: white;
}
h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 1em;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: start; 
    border: 1px solid black;
    font-family:'Courier New', Courier, monospace
}
main {
    max-width: 1200px;
    width: 90%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.25);
    background-color: #47CCB8;

}
.collection-grid {
    margin: 48px 0;
    flex-basis: 300px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.collection-card {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #e9d39f;
    padding: 4px;
    border: 10px solid black; 
}
.collection-card img {
    width: 100%;
    height: 75%;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 8px;
}
.container {
    max-width: 600px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.collection-card .description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
    outline: 3px solid rgba(0, 0, 0, 0.25);
    background-color: lightskyblue;
    color: black; 
}
.box {
    width: 700px;
    height: 700px;
    background-color: #E9D39F;
    border: 5px solid black;
}
